*{
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

.home{
	background: 
		linear-gradient(
			rgba(227,245,238,.5),
			rgba(17,126,112,.5)
		),
		url(../images/architecture.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}

.home > div > h1{
	color: #0d0d59;
}

.btn{
	background-color: #0d0d59;
	color: white;
	border-style: none;
	padding: 10px 30px;
	border-radius: 20px;
	transition: .4s;
}

.btn:hover{
	background-color: #00d4ff;
}

.about{
	background:
		linear-gradient(
			rgba(227,245,238,.5),
			rgba(17,126,112,.5)
		),
		url(../images/architecture3.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #0d0d59;
}

.left{
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.left > div > img{
	height: 250px;
	width: 300px;
	border-radius: 10%;
}

.right{
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.right > div > img{
	height: 400px;
	width: 400px;
	border-radius: 10%;
}

.service{
	background: 
		linear-gradient(
			rgba(227,245,238,.5),
			rgba(17,126,112,.5)
		),
		url(../images/architecture4.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
	color: #0d0d59;
}

.gallery{
	background: 
		linear-gradient(
			rgba(227,245,238,.5),
			rgba(17,126,112,.5)
		),
		url(../images/architecture5.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
	color: #0d0d59;
}

.gallery > h2{
	padding: 60px;
}

.gallery img{
	width: 200px;
	height: 150px;
	border-radius: 5px;
}

.gallery > div > h2 > img:hover{
	transform: scale(1.5 ,1.5);
	transition: 2s;
}

.contact {
	background: 
		linear-gradient(
			rgba(227,245,238,.5),
			rgba(17,126,112,.5)
		),
		url(../images/architecture6.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
	color: #0d0d59;
}

input{
	display: block;
	border: 1px solid blue;
	margin: 10px auto;
	height: 40px;
	width: 400px;
	border-radius: 5px;
}

.inquiry{
	height: 100px;
	width: 400px;
}

.kaliwa{
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.kanan{
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
